# Entorno virtual
venv/

# Archivos generados por Django
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Archivos de configuración local
local_settings.py

# Archivos de IDEs y editores
.idea/
.vscode/

# Archivos de logs
*.log
logs/